:root {
  --font-family: Georgia, 'Times New Roman', Times, serif;
  --color-1: #252525;
  --color-2: #d6d3c8;
  --color-3: #25252527;
  --color-4: #975905;
  --color-5: #D6AA57;
}

/* Resets */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: Georgia, serif;
}

body {
	color: #252525;
}

.menu {
	background-color: #252525;
	padding: 20px 0;
}

.menu-container {
	max-width: 1200px;
	margin: 0 auto;
}

.menu-container::after, .menu-container::before {
	content: '';
	display: table;
	clear: both;
} 

a.menu-logo {
	display: block;
	float: left;
	margin-left: 10px;
}

.menu-nav {
	float: right;
	margin-left: 10px;
}

.menu-nav li {
	display: inline-block;
	transition: 0.3s ease-out;
}

.menu-nav a {
	padding: 10px;
	display: block;
	color: #fff;
	font-size: 1.125em;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}

.menu-nav li:hover {
	color: white;
	outline: 1px solid white;
}

/* Intro */

.intro {
	background: url('../img/bg-intro.jpg') no-repeat center center;
	background-size: cover;
	padding: 150px 0px;
	text-align: center;
	color: #fff;
}

.intro h1 {
	font-size: 3em;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

.intro h1::after {
	content: '';
	display: block;
	height: 4px;
	width: 20px;
	background-color: #fff;
	margin: 10px auto;
}

.intro p {
	font-style: italic;
	font-size: 1.125em;
	font-weight: bold;
}

/* Sobre */

.sobre {
	margin: 60px 0;
}

.sobre-container {
	max-width: 1200px;
	margin: 0 auto;
}

.sobre-container::after, .sobre-container::before {
	content: '';
	display: table;
	clear: both;
} 

.sobre h2 {
	text-align: center;
	font-size: 2.25em;
	margin-bottom: 60px;
}

.sobre-item {
	width: 580px;
	float: left;
	margin: 0 10px;
}

.sobre-item img {
	display: block;
	width: 580px;
}

.sobre-item h3 {
	font-size: 2.25em;
	background-color: #252525;
	width: 220px;
	color: white;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	line-height: 1em;
	padding: 5px 0px 10px 0;
	position: relative;
	top: -25px;
}

.sobre > p {
	font-size: 1.125em;
	line-height: 1.4;
	font-style: italic;
	text-align: center;
	margin: 20px auto;
	max-width: 460px;
}

/* Produtos */

.produtos {
	background-color: #e7e4d8;
	padding: 60px 0;
	border-top: 3px solid #d6d3c8;
	border-bottom: 3px solid #d6d3c8;	
}

.produtos-container {
	max-width: 1200px;
	margin: 0 auto;
}

.produtos-container::after, .produtos-container::before {
	content: '';
	display: table;
	clear: both;
} 

.produtos-item {
	width: 360px;
	float: left;
	margin: 0 10px 20px 10px;
}

.produtos-item h2 {
	text-align: center;
	font-size: 2.25em;
	margin-bottom: 20px;
}

.produtos-item h2::before {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 20px auto;
	background-color: currentColor;
	box-shadow: 0 0 0 5px #d6d3c8, 0 0 0 10px currentColor;
}

.produtos-paulista::before {
	color: #492901;
}

.produtos-carioca::before {
	color: #c17139;
}

.produtos-mineiro::before {
	color: #d7a54d;
}

.produtos-item p {
	line-height: 1.4;
}

.produtos-btn {
	width: 180px;
	border: 3px solid currentColor;
	color: #252525;
	text-decoration: none;
	display: block;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 5px;
	margin: 0 auto;
}

/* Locais */

.locais {
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 0;
}

.locais-item {
	clear: both;
	margin: 60px auto;
}

.locais-item::before, .locais-item::after  {
	content: '';
	display: table;
	clear: both;
}

.locais-item img, .locais-item > div {
	width: 580px;
	float: left;
	margin: 0 10px;
}

.locais-item img {
	display: block;
}

.locais-item h2 {
	font-size: 2.25em;
	margin-bottom: 0 10px;
}

.locais-item p {
	font-size: 1.125em;
	line-height: 1.4;
	max-width: 380px;
	margin-bottom: 40px;
}

.locais-item a {
	font-size: 1.125em;
	text-transform: uppercase;
	border: 3px solid;
	color: #252525;
	padding: 10px 20px;
}

/* Assine */

.assine {
	background-color: #e7e4d8;
	padding: 30px 0;
}

.assine-container {
	max-width: 1200px;
	margin: 0 auto;
}

.assine-container::before, .assine-container::after {
	content: '';
	display: table;
	clear: both;
}

.assine-info {
	width: 580px;
	margin: 0 10px;
	float: left;
}

.assine-info h2 {
	font-size: 2.25em;
}

.assine-info p {
	font-size: 1.5em;
	font-style: italic;
}

.assine form {
	width: 580px;
	margin: 10px 10px 0 10px;
	float: left;
}

.assine form label {
	display: none;
}

.assine input {
	width: 380px;
	border: 3px solid;
	color: #252525;
	background: none;
	font-size: 1.5em;
	font-style: italic;
	padding: 10px;
	float: left;
}

.assine button {
	background-color: #252525;
	text-transform: uppercase;
	width: 160px;
	font-size: 1.5em;
	padding: 13px 0;
	color: white;
	border: none;
	cursor: pointer;
}

/* Footer */

.footer {
	background-color: #d6d3c8;
	padding: 40px 0;
}

.footer-container {
	max-width: 1200px;
	margin: 0 auto;
}

.footer-container::before, .footer-container::after {
	content: '';
	display: table;
	clear: both;
}

.footer p {
	float: left;
	margin: 0 10px;
	font-size: 1.125em;
	line-height: 1.4;
}

.footer img {
	float: right;
	margin: 0 10px;
	display: block;
}